*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial;
}

.container{
display:flex;
min-height:100vh;
}

.inputs{
width:280px;
background: linear-gradient(180deg, #0e6f6b, #094c4a);
padding:20px;
color:white;
display:flex;
flex-direction:column;
gap:15px;
}

.outputs{
flex:1;
padding:25px;
background:#f4f6f8;
overflow:auto;
}

button{
padding:10px;
background:#f7df1e;
border:none;
border-radius:6px;
cursor:pointer;
font-weight:bold;
}

button:hover{
background:#ffe94a;
}

.js-plotly-plot{
margin-top:20px;
border-radius:10px;
}

.DateInput_input{
color:black !important;
background:white !important;
}

.DateRangePickerInput{
background:white !important;
width:100% !important;
border-radius:5px;
}